* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background: #F6F2EB;
}

.box {
    line-height: 2;
    box-shadow: 10px 10px 40px antiquewhite;;
    border-radius: 15px;
    background-color: white;
    width: 50vmin;
    text-align: center;
    padding: 3em;
    margin: 5em auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* transform: translate(50%, 50%); */
}

.form--style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5vh;
    gap: 0.5em;
}

.email--input, .password--input {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* text-align: center; */
    height: 3em;
    width: 100%;
    border-radius: 9px;
    border: 2px solid rgba(211, 211, 211, 0.76);
    background-color: #F6F2EB;
    padding: 0 6%;
}

form::placeholder {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f6f2eb;
    opacity: 0.45;
}

.signup-btn {
    margin-top: 1em;
    width: 100%;
    border: none;
    padding: 0.6em;
    border-radius: 3px;
    background: #f6f2be;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.text--in--between {
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.text--in--between hr {
    flex: 1;
    width: 60px
}

.buttons {
    font-weight: 700;
    margin-top: 0.5em;
    border: none;
    padding: 7px;
    border-radius: 7px;
    background-color: white;
    border: 1px solid #DADADA;
    transition: all ease-in 1.5s;
}

.buttons:active {
    scale: 0.99;
    background: #dadadaae;
    transition: all ease-in 1.5s;
}

.buttons:hover {
    background: linear-gradient(to right, #F6F2AE, #f8fbc8);
    transition: all ease-in 1s;
}


@media (max-width: 767px) {
    .box {
        width: 100vw;
        margin: 0;
    }
}